<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{url_for('static', filename = 'css/contact.css')}}">
    <title>Contactez-nous !</title>
</head>
<img src="{{url_for('static', filename = 'images/equipe.png')}}" id = "equipe.png"/>
<body>
    <h1>D'autres possibilités viendront plus tard !</h1>
    <br>
    <br>
    <p>Retourner au <a href="/">menu</a></p>
</body>
</html>