<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{url_for('static', filename = 'css/home_page.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Des informations sur les écuries !</h1>
    <br>
    <img src="{{url_for('static', filename = 'images/ecuries.png')}}" id = "ecuries.png"/>
    <br>
    <p>Retourner au <a href="/">menu</a></p>
</body>
</html>